{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          {% if page.lang == 'ru' %}
            <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/ru/">Привет! Я Азамат</a></li>
            {% for link in site.data.navigation_ru.main %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          {% else %}
            <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ base_path }}/">{{ site.title }}</a></li>
            {% for link in site.data.navigation.main %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
        <ul class="hidden-links hidden"></ul>
        <div class="masthead__right-controls">
          <span id="theme-toggle">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </span>
          <a role="button" class="lang-toggle" onclick="toggleLanguage()">{% if page.lang == 'ru' %}EN{% else %}RU{% endif %}</a>
        </div>
      </nav>
    </div>
  </div>
</div>

<script>
function toggleLanguage() {
  var path = window.location.pathname;
  if (/^\/ru(\/|$)/.test(path)) {
    window.location.href = path.replace(/^\/ru/, '') || '/';
  } else {
    window.location.href = '/ru' + path;
  }
}
</script>
